/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

#banner {
  background: #E0EBFF;
  padding: 10px;
  border-bottom: 1px solid;
  font-size: 28px;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid orange;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller;
}

#columns {
  background: #F0F5FF;

  #main {
    margin-left: 20em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 16em;

    a {
      color: #337AB7;
    }

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #logout_button {
      color: #44a;
    }

    #cart {
      font-size: smaller;
      color: #44a;

      table {
        margin-bottom: 10px;
        color: #337AB7;

        td a{
          color: #337AB7;
        }
      }
    }
  
    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }

  }

  .depot_form {
    fieldset {
      background: white;
      width: 30%;
    }

  }

}
