// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {

  input, textarea {
    width: 320px;
  }

  .list_image {
    width: 50%;
  }

  #td_image_tag {
    width: 100px;
  }

  .list_description {
    dt {
      font-size: larger;
    }
  }

}
